<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifremi Unuttum - KELİME OYUNU</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="login-container">
        <button class="back-btn" onclick="goBack()">&#8592; Geri</button>
        <h1>KELİME OYUNU <span>heyecanı bastır</span></h1>
        <form id="forgotPasswordForm">
            <div class="form-group">
                <label for="email">E-posta</label>
                <input type="email" id="email" required>
                <button type="button" class="verify-btn">Doğrulama Kodu Gönder</button>
            </div>
            <div id="resetFields" style="display: none;">
                <div class="form-group">
                    <label for="verificationCode">Doğrulama Kodu</label>
                    <input type="text" id="verificationCode" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Yeni Şifre</label>
                    <input type="password" id="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Şifreyi Tekrarla</label>
                    <input type="password" id="confirmNewPassword" required>
                </div>
                <button type="submit" class="reset-password-btn">Şifreyi Değiştir</button>
            </div>
        </form>
    </div>
    <div id="notification" class="notification"></div>
    <script src="../static/js/script.js"></script>
</body>
</html>
